body {font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
text-align: center;}


.maincontent{display: flex;
flex-direction: column;}
/* Header */

.header {display: flex;
align-items: center;
position: fixed;
height: 70px;
width: 100%;
border-bottom: 1px solid seashell;
z-index: 2;
background-color: black;}

.headerpic{display: flex;
height: 50px;
padding-left: 10px;
}

.headerlogo{display:flex;
  width: 100%;
align-items: center;
flex-direction: row;
justify-content: space-between;
padding-right: 30px;}

nav a{ display: inline-block;
  color: seashell;}


/* first box */


.firstbox{background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  opacity: .5;
display: flex;
margin: 0 auto;
flex-direction: row;
height: 700px;
width: 1200px;
}

.firstbox span{background-color: black;
width: 100%;
height: 75px;}

.firstboxpic {width: 100%;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;}

/* second boxes */

.secondbox{
  margin: 0 auto;
  width: 1000px;
}

.contentbox{ width: 1000px;
  height: 250px;
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 0 auto;
}

/* fall berry */

.fallberry{
height: 200px;
width: 300px;}

.fallberrypic{height: 200px;
width: 300px;}

/* spiced rum */


.spicedrum {width: 300px;
height: 200px;
}

.spicedrumpic{ height: 200px;
width: 300px;}


/*donuts */


.seasonaldonuts{width: 300px;
height: 200px;
}

.donutpic{width: 300px;
height: 200px;
}

/* myrtle pic */

.row2{margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto;
  display: flex;
justify-content: space-around;}

.myrtleleave{
margin-left: 60px;
width: 300px;
height: 200px;
}

.myrtlepic{height: 200px;
width: 300px;}

/* bedford */

.bedford{
margin-right: 60px;
  width: 300px;
height: 200px;
}

.bedfordpic{height: 200px;
width: 300px;}

/* contentbox 3 */

.contentbox3{display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.contentbox3 .box{
  width: 300px;
height: 300px;
background-color: black;
}

.boxes{display: flex;
justify-content: space-between;
flex-direction: row;
margin: 0 auto;
width: 980px;}

/* footer */

.footer{height: 200px;
margin: 0 auto;}

.copyright {text-align: left;
margin-left: 20px;}
